<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
